{% load static %}

{% block content %}


<div class="container">
    <div class="header">
        <h3>Основные характеристики</h3>
        <input type="checkbox"> - Показать/Скрыть
        <div class="show_prop">
            <table class="u-full-width" border="1" width="50%" cellpadding="5">
                <tr><th>Продукт</th><td>{{ detailed.product }}</td></tr>
                <tr><th>Описание</th><td>{{ detailed.description }}</td></tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
