{% load static %}

{% block content %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/index">Онлайн магазин</a>
      <img src="{% static "img/logo.svg" %}" alt="`Лого" width="42" height="42">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
          aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if active_page == "main" %}<li class="nav-item active">
          {% endif %}
            <a class="nav-link" href="/index">Главная</a>
          </li>

          {% if active_page == "gadgets" %}
            <li class="nav-item dropdown active">
          {% else %}
            <li class="nav-item dropdown">
          {% endif %}
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Гаджеты</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              {% for menu_item in menu %}
                <a class="dropdown-item" href="/section/{{menu_item.slug}}">{{ menu_item.name }}</a>
              {%endfor%}
            </div>
          </li>

          {% if active_page == "accessories" %}
            <li class="nav-item active">
          {% endif %}
            <a class="nav-link" href="/accessories">Аксесcуары</a>
          </li>
        </ul>

        <a class="btn btn-outline-success my-2 my-sm-0" role="button"
          href="/cart">Корзина</a>

        {% if user.get_username == "" %}
          <a class="btn btn-outline-success my-2 my-sm-0" role="button"
          href="/account/login">Войти</a>
        {% else %}
          <p class="btn btn-primary my-2 my-sm-0" >{{ user.get_username }}</p>
          <a class="btn btn-outline-success my-2 my-sm-0" role="button"
          href="{% url 'user_logout'%}">Выйти</a>
        {% endif %}

      </div>
    </nav>

{% endblock %}