{% extends "base.html" %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}

    <div class="container text-left"  style="max-width: 500px">
        <div class="header"></div>
        <img class="mb-4" src="/media/logo.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>

        <form class="form-group" action="" method="post">
            {% csrf_token %}
            {% if form.error_dict %}
                <p class="error">Пожалуйста исправьте нижеприведённые ошибки.</p>
            {% endif %}

            <div class="container">
                <div class="row">
                    <div class="col-sm-4 form-text text-muted">
                        {% if form.username.errors %}
                            {{ form.username.html_error_list }}
                        {% endif %}
                        <label for="id_username">Логин:</label>
                    </div>
                    <div class="col-sm-4 form-text text-muted">
                        {{ form.username }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-text text-muted">
                        {% if form.password1.errors %}
                            {{ form.password1.html_error_list }}
                        {% endif %}
                        <label for="id_password1">Пароль:</label>
                    </div>
                    <div class="col-sm-4 form-text text-muted">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-text text-muted">
                        {% if form.password2.errors %}
                            {{ form.password2.html_error_list }}
                        {% endif %}
                        <label for="id_password2">Пароль (снова):</label>
                    </div>
                    <div class="col-sm-4 form-text text-muted">
                        {{ form.password2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-text text-muted">
                        {% if form.email.errors %}
                            {{ form.email.html_error_list }}
                        {% endif %}
                        <label for="id_email">Почта:</label>
                    </div>
                    <div class="col-sm-4 form-text text-muted">
                        {{ form.email }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-text text-muted">
                        {% if form.first_name.errors %}
                            {{ form.first_name.html_error_list }}
                        {% endif %}
                        <label for="id_first_name">Имя:</label>
                    </div>
                    <div class="col-sm-4 form-text text-muted">
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-text text-muted">
                        {% if form.last_name.errors %}
                        {{ form.last_name.html_error_list }}
                    {% endif %}
                    <label for="id_last_name">Фамилия:</label>
                    </div>
                    <div class="col-sm-4 form-text text-muted">
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Зарегистрировать" />
        </form>
    </div>

{% endblock %}